<% provide(:title, "Meu Perfil") %>
<% provide(:glyph, "user") %>

<div class="wrapper">
    <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
      <%= form_for(@user) do |f| %>


        <%= render 'fields', f: f %>

        <%= gravatar_for @user %>
        <%= link_to "editar", "http://gravatar.com/emails", target: '_blank'%>
        <br><br><hu3>
        <%= f.submit "Salvar alterações", class: "btn btn-default" %>
      <% end %>
    </div>
    </div>
</div>
